<script setup>
import "assets/style.scss";
</script>

<template>
  <AppHeader />
  <NuxtLayout>
    <slot>
      <NuxtPage />
    </slot>
  </NuxtLayout>
</template>

<style>
@import url("https://fonts.googleapis.com/css?family=JetBrains+Mono&display=swap");

html,
body {
  width: 100%;
  height: 100%;
}
html {
  color-scheme: dark;
  background: var(--primary);
  color: var(--text);
}

body {
  font-family: "JetBrains Mono", monospace;
  background-image: url("assets/Bg-pattern.svg");
  background-repeat: repeat;
}
</style>
