<template>
  <header class="header bg-primary">
    <div class="header-container">
      <div class="logo-container">
        <h2 class="logo-text">
          <span class="text-secondary">:</span>
          <span>lille-frontend</span>
          <span class="text-secondary">.dev</span>
        </h2>
      </div>

      <ul class="menu">
        <li class="mr-3" v-for="route in routes">
          <NuxtLink class="link" active-class="link--active" :to="route.link">{{
            route.name
          }}</NuxtLink>
        </li>
      </ul>
    </div>
  </header>
</template>

<script lang="ts" setup>
const routes = [
  {
    name: "Accueil",
    link: "/",
  },
  {
    name: "About",
    link: "/about",
  },
  {
    name: "CV",
    link: "/cv",
  },
];
</script>

<style lang="scss">
.logo-text {
  @apply text-2xl;
  flex-wrap: nowrap;
}
.logo-container {
  @apply flex items-center;
}

.menu {
  @apply flex;
}

.header {
  border-bottom: 2px solid var(--border);
}

.header-container {
  @apply flex justify-between p-5  items-center container mx-auto;
}

.link {
  @apply inline-block rounded py-1 px-3;
  border: 1px solid white;
  color: white;
}

.link.link--active {
  @apply inline-block rounded py-1 px-3 bg-secondary;
  color: white;
}
</style>
