<template>
  <article class="exp">
    <div>
      <p class="exp-year">{{ year }}</p>
      <p class="exp-society">
        <img src="" alt="" />
      </p>
      <ul>
        <li>test</li>
        <li>autre test</li>
        <li>autre autre</li>
      </ul>
    </div>
    <div>
      <h2 class="exp-title">{{ title }}</h2>
      <p class="exp-text">
        Yorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis
        molestie, dictum est a, mattis tellus. Sed dignissim, metus nec
        fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus
        elit sed risus. Maecenas eget condimentum velit, sit amet feugiat
        lectus. Class aptent taciti sociosqu ad litora torquent per conubia
      </p>
      <ul class="exp-stack">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </article>
</template>

<script lang="ts" setup>
import { defineProps } from "vue";
const props = defineProps<{
  year: string;
  title: string;
}>();
</script>

<style scoped>
.exp {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 2rem;
  color: white;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.exp-year {
  @apply text-secondary text-xl;
}

.exp-title {
  @apply text-xl;
}
</style>
