<script lang="ts" setup></script>

<template>
  <section class="hero">
    <article class="container mx-auto p-5">
      <h1 class="font-bold text-6xl mb-8">Hello</h1>
      <p class="text-lg">
        Je suis un <span class="emphased decoration-sky-500">Dev Front</span> et
        j'habite à <span class="emphased decoration-pink-500">Lille</span>
      </p>

      <NuxtLink to="/cv" class="cta"> Voir le CV </NuxtLink>
    </article>
  </section>
</template>

<style lang="scss" scoped>
.hero {
  color: var(--text);
  height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.emphased {
  @apply font-bold underline decoration-wavy decoration-2 underline-offset-4;
}

.cta {
  @apply rounded mt-4 inline-block py-4 px-4 bg-secondary text-white;
  border-bottom: 4px solid;
  transition: all 500ms ease-in;
  &:hover {
    background: lightgray;
    border-bottom: 4px solid gray;
  }
}
</style>
