<template>
  <section class="what relative">
    <article class="container mx-auto p-5">
      <img
        src="~/assets/terminal-svgrepo-com.svg"
        :class="['icon', { 'icon-hide': !isVisible, 'icon-show': isVisible }]"
      />
      <h1 ref="target" class="font-bold text-6xl mb-8">
        Qu'est ce qu'un FrontEnd ?
      </h1>
      <p :class="[{ disappear: !isVisible, appear: isVisible }]">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam,
        aliquid architecto at beatae cumque dolores est excepturi impedit libero
        molestiae nam natus necessitatibus nesciunt quasi ratione temporibus
        velit voluptatum?
      </p>
      <p></p>
    </article>
  </section>
</template>

<script lang="ts" setup>
import { ref } from "vue";
import { useIntersectionObserver } from "@vueuse/core";

const root = ref(null);
const target = ref(null);
const isVisible = ref(false);

useIntersectionObserver(
  target,
  ([{ isIntersecting }]) => {
    isVisible.value = isIntersecting;
  },
  { rootMargin: "-300px" }
);
</script>

<style scoped>
.icon {
  position: absolute;
  width: 3rem;
  height: 3rem;
  scale: 0;
  top: 0;
  right: -6rem;
}

.icon-hide {
  scale: 0;
  top: 0;
  right: -6rem;
  animation: icon-leave 2s;
  transform: rotate(0);
}

.icon-show {
  scale: 2;
  top: 6rem;
  right: 6rem;
  animation: icon-enter 2s;
  transform: rotate(-45deg);
}

.disappear {
  opacity: 0;
  animation: leave 2s;
}

.appear {
  opacity: 1;
  animation: enter 2s;
}

@keyframes icon-leave {
  from {
    scale: 2;
    top: 6rem;
    right: 6rem;
    transform: rotate(-45deg);
  }

  to {
    scale: 0;
    top: 0;
    right: -6rem;
    transform: rotate(0);
  }
}

@keyframes icon-enter {
  from {
    scale: 0;
    top: 0;
    right: -6rem;
    transform: rotate(0);
  }

  to {
    scale: 2;
    top: 6rem;
    right: 6rem;
    transform: rotate(-45deg);
  }
}

@keyframes enter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes leave {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.what {
  background: var(--secondary);
  color: #fff;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: right;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
</style>
