$green: #2a9d8fff;
$dark-green: darken($green, 40%);
$dodger: #15dada;
$midnight: #093443;
$dark-midnight: darken($midnight, 40%);
$light-midnight: lighten($midnight, 10%);
$dark-dodger: rgba(#15dada, 10);
$white: #fff;
$fushia: rgb(236 72 153);

:root {
  --primary: #{$midnight};
  --secondary: #{$dodger};
  --tertiary: #{$fushia};
  --border: #{$light-midnight};
  --text: #{$white};
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #{$midnight};
    --secondary: #{$dodger};
    --tertiary: #{$fushia};
    --border: #{$light-midnight};
    --text: #{$white};
  }
}

//@media (prefers-color-scheme: light) {
//  :root {
//    --primary : white;
//    --secondary: #{$dodger};
//    --tertiary: #{$fushia};
//    --border: #{$light-midnight};
//    --text:  #{$midnight};
//  }
//}
