<script lang="ts" setup>
import CvItem from "~/components/CvItem.vue";

const props = defineProps<{
  year: string;
  title: string;
}>();
</script>

<template>
  <CvItem v-for="item in 10" year="2010-2018" title="Entreprise" />
</template>

<style scoped></style>
